@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}


.input-smooth:-webkit-autofill, .input-smooth:-webkit-autofill:active, .input-smooth { -webkit-box-shadow: 0 0 0 30px #EEEEEE inset !important; background-color: #EEEEEE; outline: 0; border-radius: 0;  padding: 0.5em 0; margin: 0.75em 0; width: 100%;}
.textarea-smooth, .textarea-smooth, .textarea-smooth { background-color: #EEEEEE; outline: 0; border-radius: 0; border:0; padding: 0.5em 0; margin: 0.75em 0; width: 100%; resize: none; }

#textarea-body{ height: 25em; }
#input-group-1 { display: grid; grid-template-rows: 2fr; }
#input-group-2 { display: grid; grid-template-columns: 1fr 1fr; }
#input-group-3 { margin-left: auto; margin-right: auto; font-family: Monsterrat; font-weight: bold; display: grid; grid-template-columns: 1fr 1fr; }
#img-location { height: 2em; width: auto; position: relative; transform: translate(0.3em, 1.65em); margin-right: 0; }
#input-location { width: 10em; margin: 1em 1em 1em 0;}
#input-tag { margin: 0.75em 0; }
#input-submit { width: 13em; margin: 1em; margin-left: auto; margin-right: auto; }


#input-title {
    font-size: 1.7em;
    text-align: center;
}
