#back-button {
    position:fixed;
    bottom: 2em;
    width: 30em;
    left: 50%;
    transform: translate(-15em, 0);
    background-color: #0099FF;
    display: flex;
    cursor: pointer;
    z-index: 1;
    transition: 0.2s;
}
#back-button:hover {
    background-color: #007BFF;
}

.back-button-txt {
    margin-left: 3em;
    color: white;
    font-family: "Noto Sans Georgia";
    font-weight: bold;
}

#img-backslash
{
    width: 2em;
    height: auto;
}